div.zkpaint-tool-grid {
	border-style: none;
}

div.zkpaint-tool-grid tr.z-row td.z-row-inner {
	border-style: none;
	background: transparent;
}

div.zkpaint-tool-grid tr.z-row td.z-cell {
	border-style: none;
	background: transparent;
}

tr.zkpaint-tool-grid-category td.z-cell span.z-label {
	font-size: 11px;
	color: #708098;
}

.zkpaint-tool-grid-outer {
	background: none repeat-x scroll 0 0 transparent;
	height: 93px;
}